


.mainnav > li:nth-child(odd) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px 24px;
}

.subnav {
   
display: flex;
align-items: center;
justify-content: space-around;


> a {
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 2px 30px;
    margin: 4px 8px;
    width: 100%;

    &:hover {
    margin: 4px 8px;
        background-color: var(--color-brand-orange);
        border-radius: 4px;
    }
}
// > li:nth-child(odd) {
//         display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     gap: 4px;
//     margin: 4px 36px;
 
// }

> li:nth-child(even) {
    height: 20px;
}
}