


.mainnav > li:nth-child(odd) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 6px 24px;
}

.subnav > li:nth-child(odd) {
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px 36px;
}