@use "@/styles/mixins";
@use "@/styles/colors/colors";

.lang-content {
  position: relative;
  gap: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    width: 20px;
    height: 8px;
    background-color: black;
    border-radius: 12px;
    position: relative;

    > div {
      height: 13px;
      width: 13px;
      border-radius: 50%;
      background-color: var(--color-brand-orange);
      position: absolute;
      left: 50%;
      top: 50%;
      border: solid 1px var(--color-brand-darkbrown);
    }
  }
}

.active-lang {
  padding: 2px 2px 0;
  border: solid 1px var(--color-brand-darkbrown);
  border-radius: 4px;
  cursor: default;
}

.inactive-lang {
  padding: 2px 2px 0;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0);

  &:hover {
    // color: darkmagenta;
    border: solid 1px var(--color-brand-orange);
    cursor: pointer;
  }
}

.de-active {
  transform: translate(-80%, -50%);
  transition: all ease-in-out 125ms;
}

.en-active {
  transform: translate(-20%, -50%);
   transition: all ease-in-out 125ms;
}
