@use "@/styles/colors/colors" as colors;

.log-in-btn {
  padding: 10px 34px;
  font-family: "ptsans regular", sans-serif, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  border-radius: 8px;
  background-color: colors.$main-btn-bg-clr;
  color: colors.$main-bg-clr;

  &:hover {
    box-shadow: 0 0 4px 4px colors.$main-bg-clr;
    scale: (1.02);
  }

  &:active {
    box-shadow: none;
    scale: (0.98);
  }

  @media (max-width: 768px) {
    padding: 8px 34px;
    font-family: "ptsans regular", sans-serif, "Times New Roman", Times, serif;
    font-size: 18px;
  }
}

.feature-main-btn {
  width: 60dvw;
  max-width: 500px;
  padding: 12px 24px;
  font-family: "ptsans regular", sans-serif, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
  background-color: colors.$main-btn-bg-clr;
  box-shadow: 0 0 4px 1px colors.$feature-btn-shadow;
  color: colors.$main-btn-txt-clr;
  cursor: pointer;

  &:hover {
    scale: (1.02);
  }

  &:active {
    scale: (0.98);
    color: colors.$header-txt-clr;
    background-color: colors.$main-bg-clr;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    padding: 10px 20px;
    font-family: "ptsans regular", sans-serif, "Times New Roman", Times, serif;
    font-size: 18px;
  }
}



.close-icon-wrapper-top-right {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(70%);
  }

  @media (max-width: 1000px) {
    top: 22px;
    right: 22px;
    width: 28px;
    height: 28px;
  }

  @media (max-width: 768px) {
    top: 12px;
    right: 12px;
    width: 28px;
    height: 28px;
  }

  @media (max-width: 350px) {
    top: 4px;
    right: 4px;
    width: 28px;
    height: 28px;
  }

  > img {
    width: 100%;
    height: 100%;
    padding: 10px;

    @media (max-width: 1000px) {
      padding: 8px;
    }

    @media (max-width: 768px) {
      padding: 6px;
    }
  }
}

.close-icon-overlay {
  background-color: colors.$overlay-bg-color;
}

.close-icon-legal {
  background-color: colors.$main-bg-clr;
}