
.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none !important;
}

.display-opaque {
  opacity: 0;
}

.hide-max-800 {
    @media (max-width: 800px) {
        display: none;
    }
}

.hide-max-1000 {
  @media (max-width: 1000px) {
    display: none;
  }
}

.show-max-1000-block {
  display: none;

  @media (max-width: 1000px) {
    display: block;
  }
}

.show-max-1000-flex {
  display: none;

  @media (max-width: 1000px) {
    display: flex;
  }
}

.show-max-800-block {
    display: none;
    @media (max-width: 800px) {
        display: block;
    }
}

.display-fade-in-delay {
animation: fade-in 250ms ease-in-out 250ms forwards;
}

.display-fade-in-immidiate {
animation: fade-in 250ms ease-in-out forwards;
}

.display-fade-out-delay {
animation: fade-out 250ms ease-in-out 250ms forwards;
}

.display-fade-out-immidiate {
animation: fade-out 250ms ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.opacity-0 {
  opacity: 0%;
}

.opacity-100 {
  opacity: 100%;
}

.grayscale-100 {
  filter: grayscale(1);
}

.pointers-none {
  pointer-events: none;
}

.color-transparent {
  color: rgba(0, 0, 0, 0);
}