.contentwrapper {
    height: calc(100dvh - 190px);
    display: flex;
    align-items: center;
    position: relative;
}

.imagemask {
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, white 80%, white 100%);
}