.color-hope {
  --html-bg-clr: #354231;

  --header-txt-clr: #6b321c;
  --header-bg-clr: #95b67c;

  --main-bg-clr: #f9ffc2;
  --main-txt-clr: #1f291e;

  --box-bg-clr: #95b67c;

  --main-btn-bg-clr: #87a85b;
  --main-btn-txt-clr: #e7ffaf;

  --footer-bg-clr: #799663;
  --footer-txt-clr: rgb(44, 145, 56);

  --smooth-bg-clr: #b1be4e;

  --std-box-shadow-clr: #95bb6a;

  --input-label-clr: #6b321c;
  --input-txt-clr: #374534;
  --input-bg-clr: #e8f07c;
  --input-placeholder-clr: #37453462;
  --input-error-placeholder-clr: rgb(177, 42, 2);
  --input-error-clr: rgb(211, 0, 0);
  --input-valid-clr: green;
  --smoot-grey-txt-clr: rgba(85, 85, 85, 0.199);

  --feature-btn-shadow: #6b321cab;
  --feature-btn-bg-clr: #f7ffb2;
  --feature-btn-text-clr: #6b321cab;
  --feature-btn-hover-bg-clr: #f3ff8a;
  --feature-btn-click-bg-clr: #799663;

  --link-txt-clr: rgb(9, 104, 0);

  --note-bg-clr: #b1be4e;
  --note-txt-clr: #6b321c;
  --note-selected: #8da536;

  --logo-clr-xs: #b08bbb;
  --logo-clr: #6974C8;

  --overlay-bg-color: #799663;
}

.color-ice {
  --header-txt-clr: #013389;
  --header-bg-clr: #58afdb;

  --main-bg-clr: #cbeeff;
  --main-txt-clr: #013389;

  --button-bg-clr: #003563;
  --button-txt-clr: #86d7ff;

  --footer-bg-clr: #58afdb;
  --footer-txt-clr: #013389;

  --smooth-bg-clr2: #9dd4db;
  --std-box-shadow-clr: #171ac4;
}

.color-hell {
  --header-txt-clr: #430000;
  --header-bg-clr: #d92727;

  --main-bg-clr: #ffc5ba;
  --main-txt-clr: #680c00;

  --main-btn-bg-clr: #4e0000;
  --main-btn-txt-clr: #ff9172;

  --footer-bg-clr: #d92727;
  --footer-txt-clr: #430000;

  --smooth-bg-clr2: #c2cd72;
  --std-box-shadow-clr: #374534;
}
